<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>/PORTLETSLOGS/tests/testing.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <FileNamePattern>/PORTLETSLOGS/tests/testing.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="net.caf.utils.web" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="net.caf.webservice" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="net.caf.generated" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="net.caf" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="com.b2b2000" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="file"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
